<app-navbar></app-navbar>
<div class="fondo">
  <div class="centrar"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="/assets/imagenes/1.png" alt="image">
      </div>
      <div class="col-sm card" style="margin-bottom: 100px;">
        <div class="margen">
          <p>
            Buenas {{usuario.nombreUsuario}} alguna vez te ha pasado que has visto una serie,pelicula o
            anime, quieres volver a verla en el futuro pero no consigues recordar bien
            el nombre o simplemente no te acuerdas porque, como yo tienes la memoria de
            un pajaro carpintero, no te angusties te traigo esta aplicacion para que
            puedas tener un registro de tus pelis, series y animes favoritos y que puedas
            revisarlos siempre que quieras al alcanze de un click.<br><br><br><br><br>
            Posdata:De nada crack.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
