<div class="fondo">
  <div class="centrar"></div>
  <div class="container col-md-5 mt-3">
    <div class="card">
      <div class="card-header">
        <div class="centrarTexto">
          <h1>Informacion de la Serie:</h1>
        </div>
      </div>
      <div class="card-body">
        <form action="">
          <div class="form-group">
            <label>Nombre:</label>
            <input id="nombreSerie" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Estudio de Animacion:</label>
            <input id="estudioAnimacion" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Fecha de Emision:</label>
            <input id="fechaEmision" type="date" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Fecha de Finalizacion:</label>
            <input id="fechaFinalizacion" name="fechaEmision" type="date" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Numero de Capitulos:</label>
            <input id="numeroCapitulos" type="text" class="form-control" disabled>
          </div>
          <div class="form-group">
            <label>Genero:</label>
            <input id="genero" type="text" class="form-control" disabled>
          </div>
          <div class="container">
            <div class="row">
              <div class="mx-auto">
                <button (click)="Volver()" class="btn btn-danger">Volver</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="centrar"></div>
</div>
